<!DOCTYPE html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}" />
        <link rel="stylesheet" href="/theme/css/main.css" />
    </head>
    <body class="homepage is-preload">
        <div id="page-wrapper">
            {% include "header.njk" %}
            


            {% include "footer.njk" %}
        </div>

        <!-- Scripts -->
            <script src="/theme/js/jquery.min.js"></script>
            <script src="/theme/js/jquery.dropotron.min.js"></script>
            <script src="/theme/js/browser.min.js"></script>
            <script src="/theme/js/breakpoints.min.js"></script>
            <script src="/theme/js/util.js"></script>
            <script src="/theme/js/main.js"></script>

    </body>
</html>