---
layout: base.njk
class: "homepage"
---
<div id="page-wrapper">
    {% include "partials/header.njk" %}

    {% if features %}
        <div class="wrapper">
            <section class="container">
                <header class="major">
                    <h2>{{ features.title }}</h2>
                    <p>{{ features.description }}</p>
                </header>
                <div class="row features">
                    {% for item in features.items %}
                        <section class="col-4 col-12-narrower feature">
                            <div class="image-wrapper{% if loop.first %} first{% endif %}">
                                <a href="/images/{{ item.image }}" class="image featured" data-lightbox="gallery">
                                {% image item.image, "", "745,368", "auto", false, 368, 189, "entropy" %}
                                </a>
                            </div>
                            <p>{{ item.text }}</p>
                        </section>
                    {% endfor %}
                </div>
                <ul class="actions major">
                    <li><a href="{{ features.url }}" class="button">{{ features.button }}</a></li>
                </ul>
            </section>
        </div>
    {% endif %}

    {% if promo %}
        {% include "partials/promo-banner.njk" %}
    {% endif %}

    {% include "partials/footer.njk" %}
</div>
